# Folder view configuration files
/**/.DS_Store
/**/Desktop.ini

# Thumbnail cache files
._*
Thumbs.db

# Files that might appear on external disks
.Spotlight-V100
.Trashes

# iterm2 background
 iterm2/background/i_know_how_to_make_ducks.png
