GH_TOKEN=op://Private/dotfiles/GH_TOKEN
GITHUB_PERSONAL_ACCESS_TOKEN=op://Private/dotfiles/GITHUB_PERSONAL_ACCESS_TOKEN
CONTEXT7_API_KEY=op://Private/dotfiles/CONTEXT7_API_KEY
TAVILY_API_KEY=op://Private/dotfiles/TAVILY_API_KEY
SERPER_API_KEY=op://Private/dotfiles/SERPER_API_KEY
TODOIST_API_KEY=op://Private/dotfiles/TODOIST_API_KEY
